html,body{
  width: 100vw;
  height: 100vh;
  background-image: url(https://lh3.googleusercontent.com/u2Ival8qObY3WE7_9PG-NvQ6nWR9lgXWjTtGXXRGSVmk_5H5L_mPBreqi9Cu_kC3jsDOKDrCNMfW4sT18_ropuVJ2bD3uZ1nDWxhfrLXCR4BR-SvMJ_CEAop7g7l9oA7g8UOaX5QdI9gltOyCqmeVyW-tP8EXoSSLLnZ5R2x-qPG9wiNSyXmZlXQVOt625VoDAlMcvULm13a_3C0L9ZYIJ5kAZzias0ATOtkgTnYGDxgSWTbkIOqt1dmWVVhj-FrKbLpqe20DZrFbHvRjnNce-ZvvpNQ5F7WMCVf2fDFTdmd97wEwQ15xsK-odxP2qRbbTlFvvdVjFYOlNimkEbQ3xFcAbXigsxSdDdcTUE-0gA6v0F4wQEtkHfSfr_TMHLV-ryEtJHhLq2394uYWZCaTWYUodDtowTAWBHs4sp1Axa5vOBLA2Sv87NTxIpU8bfC6ntuBef6d6FO6r_Bh6JS9QoyEHZuNK5RnSj4VX_BEqxV695Xqt_Vky9veNIxpKFy7in8bd8kd3nWTbY7y6RSYkQTAFqiUVfGF4dxQyUVh4HTlbE3l7OabhN8PUJPdFO1tLTY-ckgfOH-QUJHJxtRK-aUqfr8ATPWY0m1wL39ZzW_wKblvJNWk2JOmagV-vyIwOSxULtE-CxeJG7BZGAXGNkfCPk9nkaGKWUj-d7IpILzJ3V5Vz9DB6Dqvu0O=w516-h657-no);
  background-size: cover;
}



header{
  height: 100px;
  background-color: yellow;
  opacity: 0.8;
  padding: 0 25% 0 25%;
}

header p{
  color: black;
  font-size: 40px;
  padding-right: 30px;
  float: left;
  font-family: 'HGP行書体',cursive;
  transition: 1s;
}

header p:hover{
  transform: translateY(5px);
}

.twitter{
  color: black;
  font-size: 40px;
  padding-top: 45px;
  transition: 1s;
}

.twitter:hover{
  transform: translateY(-5px);
  color: blue;
}


.text{
  position: relative;
  font-size: 40px;
  font-family: 'HGP行書体',cursive;
  writing-mode: vertical-rl;
  float: right;
  padding-right: 10%;
}

.title{
  text-align: center;
  color: yellow;
  font-size: 150px;
  position: relative;
  padding: 20% 0 0 15%;
  font-family: 'HGP行書体',cursive;
}

.movetext{
  animation-name: move;
  animation-duration: 10s;
  animation-direction: normal;
}

@keyframes  move{
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}


.promote{
  font-size: 40px;
  text-align: center;
  position: relative;
  color: red;
  font-weight: bold;
  opacity: 0.9;
}

footer{
  height: 100px;
  background-color: yellow;
  opacity: 0.8;
}

footer p{
  font-size: 30px;
  padding-top: 50px;
}


@media(max-width: 670px){
  html,body{
    background-image: url(https://lh3.googleusercontent.com/Vs8uviAddpVxarAl4zFv3Z0_DhST-zy-N0wfa7THsMeqpWt5LUXg4luYh79C0FsAh5h9nBaJMJpJDV1avHwBPy3Y70JlIZiaQnpFy7KgCp568o9dqCy6le17Th5WX9yPQ_bOL4vfS4EI-5YbVbQtTa98J5_BFo_grFjMOliO3ysM7Z89jftwVY8nRqH0vIUCl6mLy6tnUFN6K52tnC7aVsP1Jol_gY2sVsYbEUAHOkll2jF5rvjbeA0U5LAWJve0WTvqEXFWOaK8ur37HgEUxuhrIjbbri-noaUDO43f_w-gdVS0Aaf1eTI24gQE85d3rcUTa92qn_vdD6_FfNQsrRsVak8NhoJgNT09OklARbVifoXYpsMm-sCbyRI_2Z_Jj65sAWvQ627_JkYv7VAl9QHnjt7ogr9V7BbD4Y2GhmilT_K5XRskeOc2UOxKs0drX8LWuA_Dw1JxIvX2JjrF54cCgtmzlwxvC05NVntWt0MUtRKcttY9e0kb4JTt6yVpQoi6rED95AqfAW1HkTgbnDlGr50GaEhmIsH8B5iV6aW94gJc3c1CDu7aQd0urLPJ-Z-w3u3b_wlrWn0vyDRE7CiSltIXcYs4uMW37oHAVLedIPCqVbX2rdksKn-i5Tmp6Ld7w2vu_impZwyEzG28gyQAtbekrDjCakFwZ2Eowo-9jOP-PdqKGyJNAu4x=w282-h657-no);
    height: 100%;
    width: 100%;
  }

  header p{
    font-size: 20px;
    padding: 15px 5px 0 0;
  }

  header{
    padding: 0 5% 0 5%;
    height: 80px;
  }

  .twitter{
    font-size: 20px;
    padding-top: 35px;
  }

  .text{
    font-size: 25px;
    padding-right: 5%;
  }

  .title{
    font-size: 90px;
    padding: 50% 5% 5% 5%;
  }

  .promote{
    font-size: 20px;
    letter-spacing: 5px;
  }

  footer p{
    font-size: 20px;
  }

}
