html,body{
  width: 100vw;
  height: 100vh;
  background-image: url(https://lh3.googleusercontent.com/l4znVv5KsYNR-nG08EDdihUfSdXcQo8uX_di3dOyPXqhJ51SJuCULTFGVbqAnRygkDMUNbAEB56Bf_N_0HAFNkRpwRFn6vg2iWC2rnmjD6duJrVqr2LmbbMNP3k39iNs1o6EzAIyDqX9nRNT3Rw8W0WGXLy2stRvWU49Q2jZiTf-L-WewPBRcWld3tLRreV4tFWLQTP3E0gB0IJO1AAG4skJtl3VaGTf8kd_cwXQU9JA6oaG4nFdi3U-o9A2VlT7I9hzcMY_8NxlqTvzxSFxSnYYSa1tbTVric6tTPcTzzu5UHts0VB05ffOO1eiwK9w5YF9SAux9XflA2T0zDlKK_445OYO3i1Mma3W6iP9KnGyX0c868VKysFeMHRaF8cEaXQFnz9UdjRJAkqUmA1r5HLvnpgjPPzEN3WGY3-sT0MF1aAHphi4U5JnxD3OI-YzNHovPRnf5QtfIr9cTFjFHsUGWCrSbupEeKPdDgssxJhU-2ZwoLU1xsM-TiRfAoAz2s6-iKNGsKD5Rc_z9jSaqz1Nnj2MQCpq60qqDZmrDLsx5-FkM82OoETD-StImVeTXme_J4_Fo_GOyHL6UK4QO2EXZLDabeB27m5D1Nu_Kbfypm8pJz3QNpa6_TSQNAch_H0uW2FtJ90NJUAP4TFqfidu8wUo_cTqgKLrgYrYso-k79RYDs4sHc5hrelV=w516-h657-no);
  background-size: cover;
}



header{
  height: 100px;
  background-color: yellow;
  opacity: 0.8;
  padding: 0 25% 0 25%;
}

header p{
  color: black;
  font-size: 40px;
  padding-right: 30px;
  float: left;
  font-family: 'HGP行書体',cursive;
  transition: 1s;
}

header p:hover{
  transform: translateY(5px);
}

.twitter{
  color: black;
  font-size: 40px;
  padding-top: 45px;
  transition: 1s;
}

.twitter:hover{
  transform: translateY(-5px);
  color: blue;
}


.text{
  position: relative;
  font-size: 40px;
  font-family: 'HGP行書体',cursive;
  writing-mode: vertical-rl;
  float: right;
  padding-right: 10%;
}

.title{
  text-align: center;
  color: yellow;
  font-size: 150px;
  position: relative;
  padding: 20% 0 0 15%;
  font-family: 'HGP行書体',cursive;
}

.movetext{
  animation-name: move;
  animation-duration: 10s;
  animation-direction: normal;
}

@keyframes  move{
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}


.promote{
  font-size: 40px;
  text-align: center;
  position: relative;
  color: red;
  font-weight: bold;
  opacity: 0.9;
}

footer{
  height: 100px;
  background-color: yellow;
  opacity: 0.8;
}

footer p{
  font-size: 30px;
  padding-top: 50px;
}


@media(max-width: 670px){
  html,body{
    background-image: url(https://lh3.googleusercontent.com/ReHan4xjJQ4Z1cil_RnowaspsE_D2BKesbazode6jGWB_Th0IYircMPRHOFFFgpWyL0TE-gPfT9C03cD3Hj3wPTFRwoD_A1Q2gjn9745sM9Zx8AZHtsz1RbuIDQv2d6i7O-WvCqpUIakhC7WAfyZLleVZudjMSPZG06raacde_vsOBY2HCtPHZ3qdgdG1HJLEOkKZ1g_vmKTvQYSXioRZvGDF-r_J_vy7ICGLSryUAJqEa5jhHan1LnxrvrGXmenD2_07UApwBZf3icetf_H7-C4JwZ5K1hAYybge-YWZ6wWDKSDqH1BWRU2-PwLZ0edP_g9iP8phGIUDPj5RV4-PhYY-H_ueMTN3PB03iLEYxkTDM6KB_fZs2zOsJ5oijcsnHHhBcIjXcYkVu8OhjhGZLAz_BTBcU2aYB7_RehtLJ-Npuzi6JNSD5zbSPe145CLAi5KXsCtJQcXX9xoBdJOdyAd-C2Kvv2UD1NDrVsrPvDh4CPke7QVz32KaoXW1UowD2oLkfHSTuM1v7mMTPGbkMJ6DgJk_Yk1hmxXrorm0p6MHd_U15aFPAfhk-qp4jje-WHuHjlGfDOBwuT_b4odVENi7s6F_gsWhW8JrVqxnrnXYmT0L7doMDNY1dOlkLg8jGCClPn_DjX4vPUt9ANlVfRk1H-DiYsBT4uFYUoTPccVGHkr1hRjaVYkj8lA=w282-h657-no);
    height: 100%;
    width: 100%;
  }

  header p{
    font-size: 20px;
    padding: 15px 5px 0 0;
  }

  header{
    padding: 0 5% 0 5%;
    height: 80px;
  }

  .twitter{
    font-size: 20px;
    padding-top: 35px;
  }

  .text{
    font-size: 25px;
    padding-right: 5%;
  }

  .title{
    font-size: 90px;
    padding: 50% 5% 5% 5%;
  }

  .promote{
    font-size: 20px;
    letter-spacing: 5px;
  }

  footer p{
    font-size: 20px;
  }

}
