html,body{
  width: 100vw;
  height: 100vh;
  background-size: 60%;
  background-position: 50% 10%;
  background-repeat: no-repeat;
  background-image: url(https://www.pakutaso.com/shared/img/thumb/kuchikomi1017_TP_V4.jpg);
}



header{
  height: 100px;
  background-color: yellow;
  opacity: 0.8;
  padding: 0 25% 0 25%;
}

header p{
  color: black;
  font-size: 40px;
  padding-right: 30px;
  float: left;
  font-family: 'HGP行書体',cursive;
  transition: 1s;
}

header p:hover{
  transform: translateY(5px);
}

.twitter{
  color: black;
  font-size: 40px;
  padding-top: 45px;
  transition: 1s;
}

.twitter:hover{
  transform: translateY(-5px);
  color: blue;
}

.text{
  position: relative;
  font-size: 40px;
  font-family: 'HGP行書体',cursive;
  writing-mode: vertical-rl;
  float: right;
  padding-right: 10%;
}

.title{
  text-align: center;
  color: yellow;
  font-size: 150px;
  position: relative;
  padding: 20% 0 0 15%;
  font-family: 'HGP行書体',cursive;
}

.movetext{
  animation-name: move;
  animation-duration: 10s;
  animation-direction: normal;
}

@keyframes  move{
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}


.promote{
  font-size: 40px;
  text-align: center;
  position: relative;
  color: red;
  font-weight: bold;
  opacity: 0.9;
}

footer{
  height: 100px;
  background-color: yellow;
  opacity: 0.8;
}

footer p{
  font-size: 30px;
  padding-top: 50px;
}


@media(max-width: 670px){
  html,body{
    background-image: url(https://www.pakutaso.com/shared/img/thumb/kuchikomi1017_TP_V4.jpg);
    background-size: cover;
  }

  header p{
    font-size: 20px;
    padding: 15px 5px 0 0;
  }

  header{
    padding: 0 5% 0 5%;
    height: 80px;
  }

  .twitter{
    font-size: 20px;
    padding-top: 35px;
  }

  .text{
    font-size: 25px;
    padding-right: 3%;
  }

  .title{
    font-size: 70px;
    padding-top: 70%;
  }

  .promote{
    font-size: 20px;
    letter-spacing: 5px;
  }

  footer p{
    font-size: 20px;
  }

}
